body{
    background: rgb(79, 231, 224);
    color: white;
}

.logo_title{
    margin: 0 auto;
    width: 180px;
    height: 180px;
    background: url('../img/logo_title.png')center no-repeat;
}
p{
    max-width: 900px;
    margin: 0 auto;
}
.footer_logo{
    height: 80px;
    width: 80px;
    text-align: center;
}
.left{
    margin-top: 100px;
    margin-left: 300px;
    line-height: 125px;
    background: url('../img/logo_left.png') top no-repeat;
}
.right{
    margin-right: 300px;
    margin-top: 100px;
    float: right;
    line-height: 120px;
    background: url('../img/logo_right.png') top no-repeat;
}


